In [4]:
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
!ls | grep csv

Advertising Budget and Sales.csv

In [7]:
dataset = pd.read_csv('Advertising Budget and Sales.csv')
dataset

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9
...,...,...,...,...,...
195,196,38.2,3.7,13.8,7.6
196,197,94.2,4.9,8.1,9.7
197,198,177.0,9.3,6.4,12.8
198,199,283.6,42.0,66.2,25.5
199,200,232.1,8.6,8.7,13.4

In [8]:
dataset.columns

Index(['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)', 'Sales ($)'],
      dtype='object')

In [9]:
# dataset.index = dataset['Unnamed: 0']

In [10]:
X = dataset.iloc[:,1:4]
y = dataset.iloc[:,4]
print(X.shape, y.shape)
X

(200, 3) (200,)

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
0               230.1                 37.8                     69.2
1                44.5                 39.3                     45.1
2                17.2                 45.9                     69.3
3               151.5                 41.3                     58.5
4               180.8                 10.8                     58.4
..                ...                  ...                      ...
195              38.2                  3.7                     13.8
196              94.2                  4.9                      8.1
197             177.0                  9.3                      6.4
198             283.6                 42.0                     66.2
199             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [11]:
y = np.reshape(y,(-1,1))
y.shape

ValueError: Data must be 1-dimensional

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_norm = sc.fit_transform(X)
y_norm = sc.fit_transform(y)
X_norm.shape

In [ ]:
print(X)
print(X_norm)

In [ ]:
sns.pairplot(dataset)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_norm, y_norm, test_size=0.2, random_state=42)
print(X_train.shape, '\t',y_test.shape)

### Batch Gradient Descent

In [ ]:
from sklearn.linear_model import LinearRegression
model= LinearRegression()
model.fit(X_train, y_train)

In [ ]:
print(model.intercept_, '\t', model.coef_)

In [ ]:
y_pred = model.predict(X_test)
print(y_test[0:5], '\n \n',y_pred[0:5])

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
from math import sqrt
print("MAE: ", mean_absolute_error(y_test,y_pred))
print("MSE: ",np.sqrt(mean_squared_error(y_test,y_pred)))

## manual

In [ ]:
def init_para(x):
    w= np.zeros((1,x.shape[1]))
    b = np.zeros((1,1))
    return w,b
    
def fwd_path(x,w,b):
    y_pred = np.matmul(w,x.T)+b
    return y_pred

def mse_loss(y_pred,y_true):
    loss = np.mean((y_pred-y_true)**2)
    return loss

def grad_para(x,y_pred,y_true):
    y_pred = np.reshape(y_pred, (len(y_true),1))
    
    d = 2*(y_pred-y_true)
    
    dw = np.matmul(d.T,x) #for BGD and MBGD
    
    #dw = d*x #for SGD
    
    db = d.sum()
    return dw,db

def para_updt(w,b,dw,db,lr):
    db = np.reshape(db, b.shape)
    w = w-(lr*dw)
    b = b-(lr*db)
    return w,b

In [ ]:
lr = 0.0001
epochs = 200

cost_history = np.zeros(epochs)
w,b = init_para(X_train)

for i in range(epochs):
    y_pred = fwd_path(X_train,w,b)
    cost_history[i] = mse_loss(y_pred,y_train)
    dw,db = grad_para(X_train,y_pred,y_train)
    w,b = para_updt(w,b,dw,db,lr)
    
print(w,b)

In [ ]:
print(y_pred.shape, y_test.shape)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
from math import sqrt
print("MAE: ", mean_absolute_error(y_test,y_pred))
print("MSE: ",np.sqrt(mean_squared_error(y_test,y_pred)))