#### reason for late sunbission:
##### after converting to data frame I was trying to access it's index instead from array
##### that caused too much time consume in debuging
##### sorry sir

In [38]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt

In [2]:
y_pred1 = np.array([0.99,0,0,0.99,0,0,0.99,0.99,0.99,0,0.99,0.99,0,0.99,0.99])
y_pred = pd.DataFrame(y_pred1,columns=["y_Pred"])
y_pred

    y_Pred
0     0.99
1     0.00
2     0.00
3     0.99
4     0.00
5     0.00
6     0.99
7     0.99
8     0.99
9     0.00
10    0.99
11    0.99
12    0.00
13    0.99
14    0.99

In [3]:
y_true1 = np.array([1,1,0,1,0,0,1,0,0,0,1,1,0,0,1])
y_true = pd.DataFrame(y_true1,columns=["y_true"])
y_true

    y_true
0        1
1        1
2        0
3        1
4        0
5        0
6        1
7        0
8        0
9        0
10       1
11       1
12       0
13       0
14       1

In [4]:
def confuse(y_pred, y_true):
    TN = 0  
    for i in range(15):
        if ((y_pred1[i] == 0) and y_true1[i] == 0):
            TN = TN + 1
    return TN
TN = confuse(y_pred, y_true)
print("True Positives:", TN)

True Positives: 5

In [5]:
def confuse(y_pred, y_true):
    TP = 0  
    for i in range(15):
        if ((y_pred1[i] == 0.99) and y_true1[i] == 1):
            TP = TP + 1
    return TP
TP = confuse(y_pred, y_true)
print("True Positives:", TP)

True Positives: 6

In [6]:
def confuse(y_pred, y_true):
    FP = 0  
    for i in range(15):
        if ((y_pred1[i] == 0.99) and y_true1[i] == 0):
            FP = FP + 1
    return FP
FP = confuse(y_pred, y_true)
print("True Positives:", FP)

True Positives: 3

In [7]:
def confuse(y_pred, y_true):
    FN = 0  
    for i in range(15):
        if ((y_pred1[i] == 0) and y_true1[i] == 1):
            FN = FN + 1
    return FN
FN = confuse(y_pred, y_true)
print("True Positives:", FN)

True Positives: 1

### for class 1:

In [8]:
precesion = TP/(TP+FP)
precesion

0.6666666666666666

In [9]:
Recall = TP/(TP+FN)
Recall

0.8571428571428571

In [10]:
F1 = 2*precesion*Recall/(precesion + Recall)
F1

0.75

### for class 0:

In [11]:
pr = TN/(TN+FN)
pr

0.8333333333333334

In [12]:
Re = TN/(TN+FP)
Re

0.625

In [13]:
F1 = 2*pr*Re/(pr + Re)
F1

0.7142857142857143

### Avg Accuracy:

In [14]:
ACC = (TP + TN)/(TP+TN+FP+FN)
ACC

0.7333333333333333

### from SKLean

In [21]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

y_pred1 = np.array([0.99,0,0,0.99,0,0,0.99,0.99,0.99,0,0.99,0.99,0,0.99,0.99])
y_true1 = np.array([1,1,0,1,0,0,1,0,0,0,1,1,0,0,1])
threshold = 0.5
y_pred_binary = (y_pred1 >= threshold).astype(int)

result = confusion_matrix(y_true1,y_pred_binary)
print(result)
accu_predicted = accuracy_score(y_true1,y_pred_binary)
print(accu_predicted)
precesion = precision_score(y_true1,y_pred_binary,average=None)
print(precesion)
recall = recall_score(y_true1,y_pred_binary,average=None)
print(recall)
report  = classification_report(y_true1,y_pred_binary)
print(report)

[[5 3]
 [1 6]]
0.7333333333333333
[0.83333333 0.66666667]
[0.625      0.85714286]
              precision    recall  f1-score   support

           0       0.83      0.62      0.71         8
           1       0.67      0.86      0.75         7

    accuracy                           0.73        15
   macro avg       0.75      0.74      0.73        15
weighted avg       0.76      0.73      0.73        15

### Applying Binary Cross Entropy

In [36]:
def BCE(y_pred, y_true):
    epsilon = 1e-15
    y_pred = np.clip(y_pred, epsilon, 1 - epsilon)
    a = y_true * np.log(y_pred) + (1 - y_true) * np.log(1 - y_pred)
    loss = -((1 / len(y_true)) * np.sum(a))
    
    return loss

In [37]:
print(BCE(y_pred1,y_true1))

3.227639264533063